nav {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 10;
}
nav img {
  margin: 5px 10px 0 5px;
  z-index: 10;
}

nav img:hover {
  cursor: pointer;
  z-index: 10;
}
nav ul {
  display: block;
  float: right;
  margin: 15px 15px;
  z-index: 10;

}
nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color:  #8a5718;
  display: inline-block;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 12px 20px;
  text-align: center;
  width: 80px;
  margin: 0 5px;
}

nav ul li a:hover {
  cursor: pointer;
  background-color: #333;
  color: white;
}