body {
  background-color: white;
}

header {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid black;
}

h1 {
  position: relative;
  width: 200px;
  top: 120px;
  left: 150px;
  font-size: 40px;
}
aside {
  border-right: 1px solid black;
  float: left;
  width: 300px;
  height: 1000px;
}

main {
  background-color: white;
  float: right;
  height: 1000px;
  width: calc(100% - 301px);
  padding-top: 50px;
  text-align: center;
}

main div {
  width: 300px;
  height: 360px;
  border-radius: 30px;
  display: inline-block;
  margin: 20px;

}

.bird {
  border-radius: 30px;
}

.containerOne:hover .imageOne {
  opacity: 0.3;
}

.containerOne:hover .middleOne {
  opacity: 1;
}

.middleOne {
  transition: .5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
