header {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid black;
}

h1 {
  position: relative;
  width: 200px;
  top: 120px;
  left: 150px;
  font-size: 40px;
}
aside {
  border-right: 1px solid black;
  float: left;
  width: 300px;
  height: 1000px;
}
main {
  background-color: white;
  float: right;
  height: 1000px;
  width: calc(100% - 301px);
  padding-top: 50px;
  text-align: center;
  z-index: 2;
}

main div {
  border: 1px solid black;
}

main div div {
  position: relative;
  top: -320px;
  left: -21px;
  display: block;
  z-index: 0;
  border: 1px solid black;
  background-color: rgba(0,0,0, 30%);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

main div img {
  border-radius: 20px;
  z-index: 1;
}

main div {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  display: inline-block;
  margin: 20px;
  z-index: 2
}