body {
  font-family: 'Work Sans', sans-serif;
}

nav {
  z-index: 99;
}

.bird-name {
  font-weight: bold;
}
header {
  width: 100%;
  height: 200px;
}

.checkbox {
  font-size: 20px;
}

h1 {
  font-family: 'Merriweather', Times, serif;
  position: relative;
  width: 300px;
  top: 120px;
  left: 400px;
  font-size: 40px;
}
.vrail{
  max-width: 70%;
  max-height: 40%;
}
.ruddy{
  max-height: 70%;
  max-width: 70%;
}
h2 {
  font-family: 'Merriweather', Times, serif;
  font-size: 30px;
  margin: 10px;
}

aside {
  float: left;
  width: 299px;
  height: 400px;
  text-align: center;
  padding-top: 10px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-left: none;
  background-color: white;
  box-shadow: 1px 5px 10px;
}

main {
  float: right;
  width: calc(100% - 301px);
  padding-top: 50px;
  text-align: center;
}

main img {
  border-radius: 20px;
}
main div {
  width: 300px;
  border-radius: 30px;
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  background-color: white;
}

.hide{
  display: none;
}

aside ul {
  padding: 20px;
  text-align: left;
}
aside ul li {
  margin: 3px;
  font-size: 18px;
  font-family: 'Open Sans';
}

audio {
  margin: 10px 0;
}