body {
  font-family: 'Work Sans', sans-serif;
  color: #4C4D51;
}

a{
 color: #8a5718;
}

header {
  height: 92vh;
  background-image: url('../img/white-tailed-eagle.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-blend-mode: screen;
}
.content {
  text-align: center;
  height: 85vh;
  font-size: 35px;
}

.imgOne {
  background-image: url('../img/cardinal-smaller.jpg');
  background-position: center;
}

.imgTwo {
  background-image: url('../img/owl.jpg');
  background-position: top;
}

.imgThree {
  background-image: url('../img/bluebird.jpg');
  background-position: center;
}

.imgAll {
  width: 100vw;
  background-size: cover;
  background-blend-mode: screen;
  background-color: #8a5718;
}

.spacer {
  background-color: #8a5718;
  height: 15vh;
}

article {
  margin: 0 25vw;
  padding: 1vh 0;
}

footer {
  text-align: center;
  height: 52vh;
  background-image: url('../img/peregrine-falcon-adjusted.jpg');
}

h2 {
  font-size: 45px;
  padding: 3vh 0;
  color: #18768a;
}