header {
  height: 85vh;
  background-image: url('../img/owl.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  background-color: rgb(110, 108, 108);
}
.content {
  text-align: center;
  height: 45vh;
}

.imgOne {
  background-image: url('../img/cardinal-smaller.jpg');
}

.imgAll {
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-blend-mode: screen;
  background-color: rgb(172, 171, 171);
}

.spacer {
  background-color: rgb(220, 208, 192);
  height: 15vh;
}

article {
  margin: 0 25vw;
  padding: 1vh 0;
}

footer {
  text-align: center;
  height: 25vh;
  background-color: gainsboro;
}

h2 {
  font-size: 25px;
  padding: 3vh 0;
}