body {
  font-family: 'Work Sans', sans-serif;
  color: #4C4D51;
}

a{
 color: #8a5718;
}

header {
  height: 15%;
 position: relative;
 min-height: 500px;
 width: 100%;
 background-size: cover !important;
 -webkit-background-size: cover !important;
 text-align: center;
 overflow: hidden;
}
header video {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

header:before {
 content: '';
 display: inline-block;
 vertical-align: middle;
 height: 100%;
}

header .banner {
 display: inline-block;
 vertical-align: center;
 margin: 0 auto;
 width: 85%;
 padding-bottom: 30px;
 text-align: center;
 font-family: 'Work Sans', sans-serif;
 font-weight: bold;
}

header .banner-text {
  font-size: 35px;
  position: relative;
  top: 400px;
  text-shadow: 2px 2px black;
  color: white;
  width: 100%;
}

/* End Of Video Header */
.content {
  text-align: center;
  height: 85vh;
  font-size: 25px;
}

.imgOne {
  background-image: url('../img/cardinal-smaller.jpg');
  background-position: center;
}

.imgTwo {
  background-image: url('../img/owl.jpg');
  background-position: top;
}

.imgThree {
  background-image: url('../img/bluebird.jpg');
  background-position: center;
}

.imgAll {
  width: 100vw;
  background-size: cover;
  background-blend-mode: screen;
  background-color: #8a5718;
}

.spacer {
  background-color: #8a5718;
  height: 1vh;
}

article {
  margin: 0 25vw;
  padding: 1vh 0;
}

footer {
  text-align: center;
  height: 52vh;
  background-image: url('../img/peregrine-falcon-adjusted.jpg');
}

h2 {
  font-size: 45px;
  padding: 3vh 0;
  color: #18768a;
}