nav {
  background: transparent;
}

h2 {
  font-size: 40px;
}

main {
  text-align: center;
  padding-top: 160px;
  width: 100%;
  height: 100vh;
}

div {
  border: 1px solid black;
  width: 400px;
  margin: 60px auto;
  padding: 30px;
}

div:hover {
  cursor: pointer;
}

#select {
  display: block;
}

#question {
  display: none;
}

/* .question div {
  
} */